@import "theme";

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  margin-bottom: 20px;
  transition: all ease-in-out .3s;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.link:hover {
  color: $primary;
}

.linkWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.link {
  text-transform: capitalize;
  color: $onSurface;
  text-decoration: none;
  font-weight: bold;
}

.iconButton {
  background-color: #fff;
  border: none;
}

.iconButton:hover {
    color: $primary;
}

.button {
  background-color: $primary;
  color: $onPrimary;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.icon {
  background-color: #fff;
}

