$primary: #0175CF;
$secondary: #777;

$background: #fff;
$surface: #fff;

$onPrimary: #fff;
$onSecondary: #fff;
$onSurface: #fff;

$warning: orange;

$primaryBoxShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;